---

---

<header>
  <nav>
    <a href="/">
      <img src="/alienface.png" alt="" width="28" height="auto" />
       Tech Flow.
    </a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
</header>
